<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{> config }}

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:400,700|Roboto+Slab:300,400)" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/kimbie.dark.min.css" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}" fullbleed>

    {{! The big featured header }}
    <header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
        <div class="main-content" layout="vertical" center-center>
                <div flex="none">
                    {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
                    <h1 class="page-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
                    <h2 class="page-description">{{@blog.description}}</h2>
                    <hr />
                    
                    <nav class="main-nav">
                        <ul class="navigation">
                            <li class="navigation__item"><a href="/#posts" title="link to {{@blog.title}} blog" class="blog-button">Posts</a></li>
                        </ul>
                        
                        {{> social}}
                    </nav>
            </div>
        </div>
    </header>

    <div class="content-wrapper">
        <div>
            {{! The main content area on the homepage }}
            <main id="content" class="content" role="main">
                {{! Everything else gets inserted here }}
                {{{body}}}
            </main>
        
            <footer class="site-footer clearfix">
                 <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
                 <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
            </footer>
        </div>
    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Winder Poem }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/languages/cs.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/languages/css.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/languages/fsharp.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/languages/javascript.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/languages/json.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/languages/xml.min.js"></script>
    <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
    
    {{! Analytics }}
    <script type="text/javascript" src="{{asset "js/analytics.js"}}"></script>
</body>
</html>
